/* My Fonts Popppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* VARIABELS */
:root {
    --body-color: rgb(250, 250, 250);
    --color-white: rgb(255, 255, 255);

    --text-color-second: rgb(68, 68, 68);
    --texxt-color-third: rgb(30, 159, 171);

    --first-color: rgb(110, 87, 224);
    --first-color-hover: rgb(40, 91, 212);

    --second-color: rgb(0, 201, 255);
    --third-color: rgb(192, 166, 49);
    --first-shadow-color: rgba(0, 0, 0, 0.1);
}

/* BASE STYLE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: var(--body-color);
}

.container {
    width: 100%;
    position: relative;
}

/* SMOOTH  SCROLL */
html {
    scroll-behavior: smooth;
}

/* CHANGE THE SCROLL BAR DESIGN */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 25px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
    background: #bbb;
}

/* GLOBAL BUTTON DESIGN */
.btn {
    font-weight: 500;
    padding: 12px 20px;
    background: #efefef;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ;
}

.btn > i {
    margin-left: 10px;
}

.btn:hover {
    background: var(--second-color);
    color: var(--color-white);
}

/* GLOBAL ICON DESIGN */
i {
    font-size: 16px;
}

/* NAVIGATION BAR */
nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    line-height: 90px;
    background: var(--body-color);
    padding-inline: 9vw;
    transition: .3s ;
    z-index: 100;
}

nav > .nav-logo {
    position: relative;
}

nav > .nav-logo > .nav-name {
    font-size: 30px;
    font-weight: 600;
    color: var(--texxt-color-third);
}

nav > .nav-logo > span {
    position: absolute;
    top: -15px;
    right: -20px;
    font-size: 5em;
    color: var(--text-color-second);
}

nav > .nav-menu,  nav > .nav-menu > .nav_menu_list {
    display: flex;
}

nav > .nav-menu > .nav_menu_list > .nav_list {
    list-style: none;
    position: relative;
}

.nav-link {
    text-decoration: none;
    color: var(--text-color-second);
    font-weight: 500;
    padding-inline: 15px;
    margin-inline: 20px;
}

nav > .nav-menu-btn {
    display: none;
}

nav > .nav-menu-btn > i {
    font-size: 28px;
    cursor: pointer;
}

.nav-button > .btn > a, .featured-text-btn > .btn > a {
    text-decoration: none;
    color: rgb(16, 17, 17);
}

.active-link {
    position: relative;
    color: var(--first-color);
    transition: .3;
}

.active-link::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 5px;
    background: var(--first-color);
    border-radius: 50%;
}

/* CONTAINER DESIGN */
.wrapper {
    padding-inline: 10vw;
}

/* FEATURED BOX */
.wrapper > .featured-box {
    position: relative;
    display: flex;
    height: 100vh;
    min-height: 700px;
    align-items: center;
    justify-content: center;
}

.wrapper > .featured-box > .featured-text {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 80vh;
    flex-direction: column;
    width: 50%;
    
}

.wrapper > .featured-box > .featured-text > .featured-text-card > span {
    background: var(--third-color);
    color: var(--color-white);
    padding: 3px 8px;
    font-size: 12px;
    border-radius: 5px;
}

.wrapper > .featured-box > .featured-text > .featured-name {
    font-size: 50px;
    font-weight: 600;
    color: var(--text-color-second);
    margin-block: 20px;
}

.wrapper > .featured-box > .featured-text > .featured-name > p > .typedText {
    text-transform: capitalize;
    color: var(--texxt-color-third);
}

.wrapper > .featured-box > .featured-text > .featured-text-info {
    font-size: 15px;
    margin-bottom: 30px;
    color: var(--text-color-second);
}

.wrapper > .featured-box > .featured-text > .featured-text-btn {
    display: flex;
    gap: 20px;
}

.wrapper > .featured-box > .featured-text > .featured-text-btn > .blue-btn {
    background: var(--first-color);
    color: var(--color-white);
}

.wrapper > .featured-box > .featured-text > .featured-text-btn > .blue-btn:hover {
    background: var(--first-color-hover);
}

.wrapper > .featured-box > .featured-text > .social-icons {
    display: flex;
    margin-top: 3em;
    gap: 30px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    text-decoration: none;
    color: rgb(16, 17, 17);
}


.icon:hover {
    color: var(--first-color);
}

/* FEATURED IMAGE BOX */
.featured-image {
    display: flex;
    justify-content: right;
    align-items: center;
    min-height: 80vh;
    min-width: fit-content;
    width: 50%;
    position: relative;
    left: 3em;
}

.image  {
    margin: auto 0;
    width: 600px;
    height: 600px;
    border-radius: 55% 45% 55% 45%;
    overflow: hidden;
    animation:  imgFloat 6s ease-in-out infinite, floatImage 4s ease-in-out infinite;
    transition: .3s ease;
}

.image > img {
    width: 600px;
    height: 600px;
    object-fit: cover;
}

@keyframes imgFloat {
    50% {
        transform: translateY(10px);
        border-radius: 45% 55% 45% 55%;
    }
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2.4rem);
    }

    100% {
        transform: translateY(0);
    }
}

/* SCROLL ICON BOX */

.scroll-icon-box > .scroll-btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    gap: 5px;
    text-decoration: none;
    color: var(--text-color-second);
    background: var(--color-white);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    border-radius: 30px;

}

.scroll-icon-box > .scroll-btn > i {
    font-size: 20px;

}

/* ABOUT SECTION */
.about {
    padding-block: 5em;
}

.top-header {
    text-align: center;
    margin-bottom: 5em;
}

.top-header > h1 {
    font-weight: 700;
    color: var(--text-color-second);
    margin-bottom: 10px;
}

.top-header > span {
    font-size: 15px;
    font-weight: 500;
    color: var(--text-color-second);
    margin-bottom: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.col {
    display: flex;
    width: 50%;
}

.about > .row > .col > .about-info {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-block: 30px 70px;
    padding-inline: 20px;
    width: 100%;
    background: var(--color-white);
    box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
    border-radius: 20px;
}

.about > .row > .col > .about-info > p {
    text-align: center;
    font-size: 15px;
    color: #777;
}

.about > .row > .col > .about-info > .about-btn {
    margin-top: 10px;
}

.about > .row > .col > .about-info > .about-btn > button {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: var(--first-color);
    color: var(--color-white);
    border-radius: 30px;
}

.about > .row > .col > .about-info > .about-btn > button:hover {
    background: var(--first-color-hover);
}

/* SKILLS BOX */
.skills-box {
    margin: 10px;
}

.skills-box > .skills-header {
    margin-bottom: 30px;
    text-align: center;
}

.skills-box > .skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    text-align: center;
}

.skills-box > .skills-list > span {
    font-size: 14px;
    background: var(--first-color);
    color: var(--color-white);
    padding: 2px 10px;
    border-radius: 5px;
}

/* PROJECT BOX */
.project {
    padding-block: 5em;
}

.project-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.project-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 250px;
    background: var(--color-white);
    border-radius: 25px;
    box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
    overflow: hidden;
    padding: 25px;
    cursor: pointer;
}

.project-box > i {
    font-size: 50px;
    color: #00b5e7;
}

.project-box > label {
    font-size: 15px;
    color: #777;
}

.project-box::after, .contact-info::after  {
    content: "";
    position: absolute;
    background: var(--second-color);
    bottom: -100%;
    width: 100%;
    height: 100%;
    transition: .4s;
    z-index: 1;
}

.project-box:hover.project-box::after, .contact-info:hover.contact-info::after {
    bottom: 0;
}

.project-box:hover.project-box > i, .project-box:hover.project-box > h3, .project-box:hover.project-box > label {
    color: var(--color-white);
    z-index: 2;
}

/* CONTACT BOX */
.contact {
    padding-block: 5em;
}

.contact-info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    width: 100%;
    background: var(--second-color);
    border-radius: 10px;
    box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
    overflow: hidden;
}

.contact-info > h2 {
    color: var(--color-white);
    margin-bottom: 20px;
}

.contact-info > p {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color-white);
    margin-block: 5px;
}

.contact-info > p > i {
    font-size: 18px;
}

.contact-info::after {
    background: var(--color-white);
}

.contact-info:hover.contact-info > h2,
.contact-info:hover.contact-info > p,
.contact-info:hover.contact-info > i {
    color: #777;
    z-index: 2;
}

/* CONTACT FORM */
.form-control {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.form-input {
    display: flex;
    gap: 10px;
    width: 100%;
}

.input-field {
    width: 50%;
    height: 55px;
    background: transparent;
    border: 2px solid #aaa;
    border-radius: 10px;
    padding-inline: 20px;
    outline: none;
}

textarea  {
    width: 100%;
    height: 250px;
    background: transparent;
    border: 2px solid #aaa;
    border-radius: 10px;
    padding: 15px 20px;
    outline: none;
    resize: none;
}

.form-button > .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--second-color);
    color: var(--color-white);
}

.form-button > .btn:hover {
    background: #00b5e7;
}

.form-button > i {
    font-size: 18px;
    rotate: -45deg;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #f8f8f8;
    row-gap: 30px;
    padding-block: 40px 60px;
}

.top-footer > p {
    font-size: 25px;
    font-weight: 600;
}

.middle-footer > .footer-menu {
    display: flex;
}

.footer-menu-list {
    list-style: none;
}

.footer-menu-list > a {
    text-decoration: none;
    color: var(--text-color-second);
    font-weight: 500;
    margin-inline: 20px;
}

.footer-social-media-icons {
    display: flex;
    gap: 30px;
}

.buttom-footer {
    font-size: 14px;
    margin-top: 10px;
}


/* MEDIA QUERY == 1024px */
@media only screen and (max-width: 1024px) {
    .featured-text {
        padding: 0;
    }

    .image, .image > img {
        width: 400px;
        height: 400px;
    }
}

/* MEDIA QUERY == 900px */
@media only screen and (max-width: 900px) {
    nav > .nav-button {
        display: none;
    }

    .nav-menu.responsive  {
        left: 0;
    }

    .nav-menu{
        position: fixed;
        top: 80px;
        left: -100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(20px);
        width: 100%;
        min-height: 450px;
        height: 90vh;
        transition: .3s;
    }

    nav > .nav-menu > .nav_menu_list {
        flex-direction: column;
    }

    nav > .nav-menu-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .featured-box {
        position: relative;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        align-items: left;
    }
    
    .featured-text {
        width: 100%;
        order: 2;
        justify-content: center;
        align-content: center;
        min-height: 60vh;
        top: 3rem;
    }

    .featured-text > .featured-text-card > span {
        line-height: 20px;
    }

    .featured-image {
        order: 1;
        justify-content: center;
        margin-top: 65px;
        min-height: 150px;
        width: 100px;
        top: 3em;
        right: 3em;
    }

    .image, .image > img {
        width: 255px;
        height: 255px;
    }

    .wrapper > .featured-box > .featured-text > .social-icons    {
        margin-top: 2em;
        min-width: fit-content;
    }

    .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }

    .col {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .about-info, .contact-info {
        width: 100%;
    }

    .project-container {
        justify-content: center;
    }

    .project-box {
        width: 80%;
    }
}

/* MEDIA QUERY == 540px */

@media only screen and (max-width: 540px) {
    .featured-name {
        font-size: 40px;
    }

    .project-box {
        width: 100%;
    }

    .form-input {
        flex-direction: column;
    }

    .input-field {
        width: 100%;
    }
}